/*
    ======================================
    Page General Styling
    ======================================
*/

body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background: url("../images/logo.png") center no-repeat;
    background-size: contain;
}
